.wrapper{
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px;
}
.wrapper h1{
    text-align: center;
    font-size: 23px;

}
.wrapper form{
    margin: 20px auto 0;
    width: max-content;
}
.wrapper input{
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.wrapper input[type="checkbox"]{
    padding: 0 5px;
    width: 10px;
    height: 10px;
    background: white;
}
.wrapper button{
    background-color: #1d51a0;
    padding: 10px 48px;
    border-radius: 10px;
    font-weight: 600;
    text-align: center;
    color: white;
    font-size: 17px;
    margin: 0 auto;
    transition: background-color 0.3s;
}
.wrapper button:hover{
    background-color: #0a2d62;
}
.checkbox{
    font-size: 14px;
    color: #666464;
    margin-bottom: 20px;
}
